/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {

    .emails-view {
        border: 2px solid blue;
    }
    .mailbox {
        border: 2px solid rgb(99, 227, 99);
    }

    .login-form {
        position: relative;
        width: 100%;
        height: 100dvh;
        
    }
   
    .forms {
        margin: 0;
        border: 2px solid rgb(0, 119, 255);
        padding: 2rem 1rem 1rem 1rem;
        width: max-content;
        border-radius: 0.5rem;
        box-shadow: inset 0px 0px 5px rgb(47, 170, 189);
        width: 100%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .message {
        width: auto;
        background-color: rgb(215, 72, 72);
        color: rgb(255, 255, 255);
        margin: 20px 0px;
        padding: 10px;
    }

    .forms > h2 {
        color: rgb(16, 113, 240);
        text-align: center;
        margin: 0.5rem 1rem 2rem 1rem;
        padding: 5px;
        border: 1px solid black;
        border-radius: 4rem;
        box-shadow: inset 0px 0px 3px 0px rgb(50, 164, 205);
    }
    .login-button {

        display: flex;
        justify-content: flex-end;

    }

    
    
    .redirect {
        /* margin: 1rem; */
        padding: .5rem;
    }

    .nav-bar {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-bar > * {
        margin: 5px 5px;
        padding: 5px;

    }

    
    .mailbox {
        border: 2px solid rgb(0, 105, 129);
        padding: .5rem;
        border-left: 0px;
        border-right: 0;

        display: grid;
        grid-template-areas: 
                'to  time'
                'sub time';
        row-gap: 1px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        border-radius: .5rem;
        
        
        width: 100%;
        min-width: 300px;
        
        /* margin-bottom: .5rem; */

    }

    .recipient {
        
        grid-area: to;
        font-weight: 500;
        /* border: 2px solid yellow; */
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 500px;
        /* width: max-content; */
        /* min-width: 200px; */
    }
    .subject {
        grid-area: sub;
        /* border: 2px  solid brown; */
        width: 100%;
    }
    

    .time {
        grid-area: time;


        white-space: wrap;
        /* text-align: end; */
        max-width: 100px;
        
        /* border: 2px solid rebeccapurple; */
    }

    .mailbox:hover {
        cursor: pointer;
        border:2px solid #0f76d6;
        box-shadow: 0px 0px 2px 2px rgb(207, 207, 207);
        border-radius: 5px;
    }

    .mailbox > div {
        /* padding: 0.2rem ; */
        overflow: hidden;
        text-overflow: ellipsis;
        


    }

    
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .mailbox {
        border: 2px solid rgb(129, 13, 0);
        border-left: 0px;
        border-right: 0;
    
        display: grid;

        column-gap: 20px;
        /* background-color: rgba(245, 245, 245, 0.3); */
      
        grid-template-columns: 230px auto 100px;

        /* justify-content: space-between; */
        padding: 1rem;

    

        min-width: 530px;
        /* margin: 0.5rem; */
    
    }

    .subject {
        text-align: left;
        white-space: wrap ;

    }
    
    .mailbox:hover {
        cursor: pointer;
        border:2px solid #a2a2a2;
        box-shadow: 0px 0px 2px 2px rgb(207, 207, 207);
        border-radius: 5px;
    }
    
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*
    form {
         border: 2px solid orange;
        margin: 2rem;
    }
    form > * {
        border: 2px solid yellow;
    }
    .emails-view {
        border: 2px solid blue;
    } */
    .mailbox {
        border: 1px solid rgb(22, 62, 146);
        border-left: 0px;
        border-right: 0;
    
        display: grid;
        column-gap: 20px;

        background-color: rgba(245, 245, 245, 0.3);
      
        grid-template-columns: minmax(250px, 300px) auto 180px;
        padding: 1rem;
        align-items: center;
        color: rgb(29, 25, 25);
    
        width: 100%;
        min-width: 450px;
        /* margin: 0.2rem; */
    
    }
    
    .mailbox:hover {
        cursor: pointer;
        /* border-color: #0f76d6; */
        box-shadow: 0px 0px 2px 2px rgb(207, 207, 207);
        border-radius: 5px;
    }
    
    .recipient {
        

        /* border: 2px solid yellow; */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 500px;
        /* width: max-content; */
        /* min-width: 200px; */
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

   
    .mailbox {
        border: 1px solid rgb(25, 39, 115);
        border-left: 0px;
        border-right: 0;
    
        display: grid;
        column-gap: 20px;

        background-color: rgba(245, 245, 245, 0.3);
      
        grid-template-columns: minmax(250px, 300px) auto 220px;
        padding: 1rem .5rem;
        align-items: center;

        font-family: "Tahoma", sans-serif;
        font-size: 18px;
        font-weight: 500;
        
    
        width: 100%;
        min-width: 450px;
        margin: 0;
    
    }


    .mailbox > div {
    
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    
    
    }
    .subject {
        /* padding-left: 20px; */
        /* font-weight: 100; */
        /* font-family: sans-serif; */
    }
    
    .top-mailbox {
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
    
    
    }
    
    .top-mailbox > div {
        width: 100%;
    }
    
    /* .side-mailbox {
        display: flex;
        
        width: min-content;
        justify-content: center;
        align-items: center;
    
    
    } */
    
    
    
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {












  
}



@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;

        
    }

    65% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
     
    }

    
    

    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;

    }
}

#compose-message, #sent-message {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #d4edda;

    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#compose-message {
    background-color: #f8d7da;
}

.hide {
    height: 100%;
    line-height: 100%;
    background-color: inherit;
    border-radius: 5px;
    
    padding: 5px;
    border: 1px solid transparent;
    float: right;

    color: rgb(35, 35, 35);
}

.hide:hover {
    color: rgb(0, 0, 0);
    border: 1px solid black;
}
.read {
    background-color: rgb(244, 244, 244) ;

}

textarea {
    min-height: 250px;
    margin-bottom: 20px;
}
/* ^^^^^ common for the website */
.top-mailbox {
    margin: 0px;
    display: flex;
    align-items: center;


}


.mailbox-content {
    width: 100%;
    overflow: auto;
    white-space: nowrap;

}

.side-mailbox {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 90px;
    justify-content: center;
    align-items: flex-end;

}

.side-mailbox > div {
    margin: 0.2rem 10px;

}
