{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2 class="user">{{ request.user.email }}</h2>
<div class="nav-bar">

    <button class="btn btn-sm btn-light" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-light" id="compose">Compose</button>
    <button class="btn btn-sm btn-light" id="sent">Sent</button>
    <button class="btn btn-sm btn-light" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-dark logout" href="{% url 'logout' %}">Log Out</a>
</div>
<hr>


<div id="emails-view">
</div>

<div id="detail-view">
</div>

<div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form">

        <b>From: </b><input disabled class="compose-mail" value="{{ request.user.email }}">
        <div id="to-recipient">
            <div style="display: none;" id="to">To</div>
            <input autocomplete="off" id="compose-recipients" class="compose-mail" placeholder="Recipients">
        </div>
        <input autocomplete="off" class="compose-mail" id="compose-subject" placeholder="Subject">
        <textarea class="compose-mail" id="compose-body" placeholder="Body"></textarea>
        <input id="submit" type="submit" class="btn btn-primary" value="Send" />
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}